/* LOGIN SECTION */

#loginHome {
    width: 100%;
    height: 60vh;
    position: relative;
    top: 50px;
}

#loginHome .loginBox {
    background: rgba(61, 71, 81, 0.3);
    width: 40%;
    height: 50vh;
    margin: auto;
    color: #fff;
    border: solid 1px #6d757c;
    box-shadow: inset 0px 0px 30px 3px rgb(150 154 161 / 30%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 16px;
    font-family: 'TitilliumRegular';
    margin-bottom: 20px;
}

.loginForm {
    padding: 20px;
}

.loginBox .loginTitle {
    text-align: center;
    color: #FAD200;
    font-size: 30px;
}

.star {
    color: red;
}

.inp-lbl {
    display: inline-block;
    padding: 12px 12px 12px 0;
}

#fname,
#pass {
    margin: 20px 0 0 0;
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 25px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.loginForm input[type=submit] {
    background-color: #FAD200;
    color: #000;
    padding: 15px 20px;
    border: none;
    margin: 30px 10px 0 0;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    transition: 250ms ease-in-out;
}

.loginForm input[type=submit]:hover {
    background: none;
    border: 1px solid #FAD200;
    transition: 250ms ease-in-out;
    color: #fff;
}